body{
    background-color: #e4efec;
} 

.home-page-hero {
    position: relative;
}

.home-page-hero-card {
    position: absolute;
    top: 50px;
    right: 100px;
    background-color: #3FA2F6;
    color: white;
}

.cart-button-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 100px 10px;
    padding: 10px 0;
    border-radius: 5px;
    color: #478CCF;
}

/* Hero Banner */
.banner-card {
    margin: 0 10%;
    height: 100px; 
    background-color: white;
    left: 0;
    right: 0;
    z-index: 999;
    position: absolute;
    bottom: -50px;
    border-radius: 10px;
    border: 1px solid #B5C18E;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.banner-card-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.banner-card-item-title{
    font-weight: bold;
    font-size: 16px;
}

.banner-card-item-context {
    font-size: 12px;
}

/* Product Category */

.all-products-category {
    margin: 120px auto 0;
    height: 400px;
    background-color: white;
    width: 80%;
    border: 1px solid #B5C18E;
    border-radius: 2px;
    padding: 20px;
}

.bottom {
    height: 200px;
}
